# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text
*.md text
*.txt text
*.csv text
*.ipynb text
*.py text
*.sh text
*.yml text
# Declare files that will always have CRLF line endings on checkout.
*.snl text eol=crlf
911.csv filter=lfs diff=lfs merge=lfs -text
